.about-bookings-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 960px;
}

.about-bookings-container h2 {
    font-size: 22px;
    color: #777;
    text-align: center;
    border-bottom: 4px solid #eee;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 15px;
}

.why-us {
    padding: 15px;
    margin: 0 auto;
}

.why-us h3 {
    font-size: 17px;
    color: #333;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 20px;
}

.why-list {
    width: 100%;
}

.why-us span {
    background-image: url('../../img/check.png');
    background-repeat: no-repeat;
    background-position: 0 5px;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 15px;
    color: #333;
    margin-bottom: 25px;
    line-height: 24px;
    display: block;
}

.norton-logo-container {
    flex-basis: 100%;
}

/*.norton-logo-container img {
    display: block;

}*/

.customer-experience {
    border: 1px dashed #bccad7;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
    flex-basis: 290px;
}

.customer-name {
    font-size: 14px;
    font-weight: bold;
    width: 50%;
}

.customer-rating {
    color: #ffcd4a;
    width: 50%;
    text-align: right;
}

.customer-comment {
    font-size: 13px;
    line-height: 18px;
    margin: 10px 0;
}

.read-more {
    font-size: 13px;
    color: #0073b5;
    text-decoration: underline;
}

.contact-block {
    margin-top: 20px;
}

.contact-block a {
    text-decoration: underline;
    color: #0073b5;
}

.ask-question {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.contact-block h3 {
    text-align: center;
    font-size: 18px;
    color: #444;
    padding-top: 23px;
}

.ask-question span {
    font-size: 14px;
    color: #444;
    text-align: center;
    margin-top: 25px;
}

.contact-block button {
    background-color: #0073b5;
    color: #fff;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 15px;
}

.email {
    display: block;
    margin-bottom: 20px;
}

.book-by-phone {
    background-color: #ddd;
}

.book-by-phone h3 {
    font-weight: 600;

}

.book-by-phone .phone-number {
    color: #0073b5;
    font-size: 24px;
    display: block;
    width: 280px;
    margin: 0 auto;
    padding-bottom: 15px;
    border-bottom: 1px dashed #777;
    text-decoration: none;
    font-weight: 700;
}

.social {
    font-size: 15px;
    color: #777;
    text-align: center;
    margin-top: 15px;
    display: block;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 20px;
}

.social-icons a {
    font-size: 35px;
    color: #6e6e6e;
    padding: 0 15px;
}

.subscription {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.subscription span {
    font-size: 14px;
    color: #444;
    text-align: center;
    margin: 15px 0;
}

.subscription-form {
    margin-bottom: 25px;
}

.subscription-form input {
    padding: 12px 0;
    font-size: 14px;
    color: #aaa;
    text-align: center;
    width: 100%;
    outline: 1px solid #dddddd;
}

.subscription-form button {
    width: 100%;
    padding: 10px 0;
}



@media (min-width: 640px) {

    .about-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .why-us {
        flex-basis: 50%;
    }

    .contact-block {
        flex-basis: 50%;
    }

    .book-by-phone .social-icons {
        justify-content: center;
    }
}

@media (min-width: 1024px) {

    .about-bookings-container h2 {
        font-size: 32px;
    }

    .about-container {
        flex-direction: column;
    }

    .why-us {
        align-items: baseline;
        padding: 15px 0 15px 3px;
    }
    
    .why-us h3 {
        font-size: 22px;
        text-align: left;
    }

    .contact-block {
        display: flex;
    }

    .contact-block > div {
        flex: 1 1 0;
    }

    .book-by-phone {
        padding: 0 20px;
    }

    .customer-ratings-heading {
        padding: 0;
    }

    .why-list-container {
        display: flex;
        align-items: baseline;
    }

    .why-list-container > div {
        flex: 1 1 0;
    }

    .why-us h3 {
        margin-bottom: 10px;
    }

    .customer-experience {
        margin-top: 0px;
    }

    .about-bookings-container {
        margin: 0 auto 35px;
    }
}