.footer {
    background-color: #555;
    display: flex;
    flex-direction: column;
}

.subscribe-block {
    background-color: #444;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
}

.subscribe-block h2 {
    font-size: 22px;
    color: #ccc;
    font-weight: normal;
    text-align: center;
}

.subscribe-block span {
    font-size: 16px;
    color: #aaa;
    margin-top: 15px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-block input {
    border-radius: 5px;
    font-size: 16px;
    color: #3f3f3f;
    padding: 17px 0;
    text-align: center;
    margin-top: 17px;
}

.subscribe-block button {
    border-radius: 5px;
    padding: 17px 0;
    text-align: center;
    margin-top: 10px;
    background-color: #f26522;
    color: #fff;
}

.footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 20px;
}

.footer-navigation {
    border-radius: 5px;
    font-size: 14px;
    color: #444;
    padding: 12px;
    margin-top: 23px;
}

.footer .social-icons a {
    color: #cfcfcf;
    font-size: 32px;
}

.footer .social-icons {
    margin-top: 30px;
}

.footer-navigation-640 {
    display: none;
}

.mobile-apps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.mobile-apps img {
    border-radius: 5px;
}

.copyright-block {
    padding: 20px 0;
    background-image: url('../../img/footer-copyright-bg.jpg');
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
}

.logo-block p {
    font-size: 12px;
    color: #939393;
}

.mobile-apps-copyright {
    display: none;
}

.mobile-apps-copyright img {
    border-radius: 5px;
}

.mobile-apps-copyright img:first-child {
    margin-right: 40px;
}

.footer-upper {
    max-width: 960px;
    margin: 0 auto;
}

@media (min-width: 640px) {
    .subscribe-block {
        margin: 25px 20px 0;
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .subscribe-block h2 {
        text-align: left;
        flex-basis: 100%;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: center;
        flex-basis: 100%;
        margin-top: 20px;
    }

    .subscribe-form input {
        flex: 4 1 auto;
        margin-top: 0;
    }

    .subscribe-form button {
        flex: 1 1 auto;
        margin-top: 0;
        margin-left: 20px;
    }

    .footer-navigation {
        display: none;
    }

    .footer-navigation-640 {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .footer-navigation-640 ul {
        padding-top: 15px;
    }

    .footer-navigation-640 ul li:first-child {
        font-size: 15px;
        padding-bottom: 10px;
        color: #ccc;
    }

    .footer-navigation-640 ul li {
        font-size: 12px;
        color: #e2f0f0;
        padding: 5px 0;
    }

    .footer-navigation-640 ul li a {
        color: inherit;
    }

    .social-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 20px;
        padding-left: 5px;
    }

    .footer .social-icons {
        justify-content: flex-start;
    }

    .mobile-apps img {
        margin-left: 10px;
    }
}

@media (min-width: 1024px) {

    .footer-upper {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
        margin: 20px auto 20px;
    }

    .subscribe-block {
        flex: 2 1 0;
        margin-top: 0;
    }

    .footer-social {
        flex: 6 1 0;
        flex-direction: row;
        padding: 0;
    }

    .footer-navigation-640 {
        flex: 10 1 0;
        padding-left: 0;
    }

    .social-container {
        flex: 1 1 0;
        padding-right: 0;
    }

    .footer .social-icons {
        flex-direction: column;
    }

    .mobile-apps {
        display: none;
    }

    .subscribe-block {
        margin-right: 0;
    }

    .subscribe-block h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .subscribe-block span {
        font-size: 12px;
        margin-top: 0;
    }

    .subscribe-form {
        flex-wrap: wrap;
    }

    .subscribe-form button {
        flex-basis: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .subscribe-form input,
    .subscribe-form button {
        padding: 8px 0;
    }

    .mobile-apps-copyright {
        display: block;
    }

    .footer .social-icons {
        margin-top: 0;
    }

    .footer-navigation-640 ul {
        padding-top: 0;
    }


    .copy-right-block {
        padding: 14px 0;
    }

    .logo-block {
        width: 960px;
        margin: 0 auto;
        padding: 0;
    }
}