.main-header {
    width: 100%;
    background-color: #1a5880;
    position: relative;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.hidden {
    display: none;
}

.btn-hamburger {
    padding: 10px;
    border: 1px solid #5f8aa6;
    border-radius: 3px;
}

.btn-drop-panel {
    border: none;
    border-radius: 2px;
    color: #bacdd9;
    font-size: 13px;
    padding: 10px;
    position: relative;
    margin-bottom: 5px;
}

.btn-my-booking {
    color: #fff;
}

.btn-drop-panel:active {
    background-color: #142a3c;
}

.fa-bars {
    color: #fff;
}

.drop-panel-container {
    width: 100%;
    background-color: #133f5c;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    display: none;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    height: calc(100vh - 64px);
    align-items: baseline;
    align-content: flex-start;
}

.btn-drop-panel {
    margin-left: 10px;
}


.drop-down-like {
    flex-basis: 100%;
    border-top: 1px solid #fff;
    text-align: center;
    color: #bacdd9;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.main-nav-logo-wrapper {
    display: flex;
    flex:2 0 0;
}

.like-count {
    display: none;
    color: #bacdd9;
    font-weight: 600;
}

.drop-panel {
    width: 320px;
    background-color: #133f5c;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
    list-style-type: none;
    margin: 0 auto;
    padding-bottom: 15px;
}

.drop-panel > li {
    position: relative;
}

.drop-panel > li:last-child {
    color: #bacdd9;
    font-size: 14px;
    margin-top: 20px;
}

.drop-panel > li:last-child:before {
    content: "";
    position: absolute;
    display: inline;
    height: 1px;
    width: 320px;
    background-color: #bacdd9;
    left: -82px;
    bottom: 35px;
}

.drop-panel .fa {
    padding: 0 5px;
}

.phone-active {
    width: 320px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 53px;
    z-index: 12;
    display: none;
    box-shadow: 0px 0px 8px #444;
}

.phone-active:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: -3px;
    left: 31px;
    z-index: -1;
}

.phone-active a[href^="tel:"] {
    color: #000;
    font-size: 15px;
}

.phone-active .fa-phone {
    font-size: 18px;
}

.phone-number, .phone-comments {
    text-align: center;
}

.phone-number {
    padding-top: 15px;
}

.phone-comments {
    font-size: 11px;
    color: #2f2822;
}

.phone-number-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    overflow: hidden;
}

.phone-number-list {
    list-style-type: none;
    padding: 10px 15px 10px;
    font-size: 13px;
    display: flex;
    flex-flow: row wrap;
    
}

.phone-number-list li {
    padding: 5px 0 5px 20px;
    width: 50%;
}

.france {
    background-image: url('../../img/flag-1.jpg');
    background-repeat: no-repeat;
    background-position: left 8px;
}

.spain {
    background-image: url('../../img/flag-2.jpg');
    background-repeat: no-repeat;
    background-position: left 8px;
}

.uk {
    background-image: url('../../img/flag-3.jpg');
    background-repeat: no-repeat;
    background-position: left 8px;
}

.country-phone-number {
    text-align: right;
}

.opacity {
    opacity: 0;
    width: 45px;
    position: absolute;
    top: 9px;
    left: 6px;
}

.btn-language-done {
    float: right;
    margin-right: 10px;
    color: #1a6fca;
    font-size: 13px;
    border: none;
    font-weight: bold;
    line-height: 43px;
}

.login-container {
    width: 320px;
    background-color: #fff;
    font-size: 16px;
    color: #d2d2d2;
    border-radius: 4px;
    position: absolute;
    top: 53px;
    right: 0;
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 8px #444;
    display: none;
}

.login-container:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: -3px;
    right: 50px;
    z-index: 0;
}

.login-container input {
    width: 100%;
    line-height: 52px;
    border-bottom: 1px solid #d2d2d2;
    padding: 0 10px;
    text-align: center;
    color: #aaa;
}

.btn-sign-in {
    background-color: #0073b5;
    width: 280px;
    color: #fff;
    line-height: 42px;
    margin: 17px auto 0;
    border-radius: 5px;
    height: 42px;
    display: block;
}

.language-active {
    display: none;
}

.currency-active {
    display: none;
}

.phone-number-wrapper {
    display: none;
}

.phone-active span,
.phone-number-wrapper span {
    display: block;
}

.phone-number-list:nth-child(2) {
    display: none;
}

.likes {
    font-size: 14px;
    font-weight: 300;

}

@media (min-width: 640px) {

    .main-nav {
        padding: 2px 15px;
    }

    .btn-hamburger {
        display: none;
    }

    .drop-down-like {
        display: none;
    }

    .btn-drop-panel {
        margin-bottom: 0;
        padding: 10px 16px;
    }

    .drop-panel-container {
        display: flex;
        position: relative;
        background-color: inherit;
        top: 0;
        justify-content: flex-end;
        flex: 1 1 50%;
        height: auto;
        padding: 10px 0;
    }

    .drop-panel {
        background-color: inherit;
        width: auto;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav-logo-wrapper {
        flex: 1 1 36%;
        align-items: center;
    }

    .drop-panel > li:last-child:before {
        display: none;
    }

    .drop-panel > li:last-child {
        margin: 0;
    }

    .btn-my-booking {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }

    .phone-active {
        width: 610px;
        /*display: block;*/
        right: -8px;
        top: 57px;
        left: auto;
    }

    .phone-active:before{
        left: 300px;
    }

    .phone-number-list {
        flex: 1 1 0;
        position: relative;
    }

    .phone-number-list-container {
        border: none;
        height: 290px;
    }

    .phone-number-list:after {
        content: "";
        width: 1px;
        height: 94%;
        background-color: #ddd;
        position: absolute;
        top: 6px;
        right: 0;
    }  

    .phone-number-list:last-child:after {
        display: none;
    }

    .likes {
        display: none;
    }

    .language-active {
        width: 240px;
        background-color: #fff;
        position: absolute;
        right: 110px;
        top: 57px;
        z-index: 10;
        display: flex;
        display: none;
        flex-wrap: wrap;
        border-radius: 5px;
        padding-bottom: 15px;
        color: #000;
        box-shadow: 0px 0px 8px #444;
    }

    .language-active:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background-color: #fff;
        position: absolute;
        top: -3px;
        left: 115px;
        z-index: -1;
    }

    .opacity {
        display: none;
    }

    .language-list {
        width: 100%;
        font-size: 13px;
        flex: 1 1 0;
        position: relative;
    }

    .language-list li:first-child {
        padding-top: 20px;
    }

    .language-list li {
        padding: 10px 20px;
    }

    .language-list .active {
        color: #1a5880;
    }

    .language-list li:hover {
        background-color: #1a587f;
        color: #fff;
    }

    .language-list:after {
        content: "";
        width: 1px;
        height: 97%;
        background-color: #ddd;
        position: absolute;
        top: 6px;
        right: 0;
    }  

    .phone-number-list:last-child:after {
        display: none;
    }

    .currency-active {
        width: 240px;
        position: absolute;
        background-color: #fff;
        right: 40px;
        top: 57px;
        border-radius: 5px;
        display: none;
        color: #000;
        box-shadow: 0px 0px 8px #444;
    }

    .currency-list {
        font-size: 13px;
        padding: 5px 0;
    }

    .currency-list li {
        padding: 10px 18px;
    }

    .currency {
        float: right;
        color: #1a5880;
    }

    .currency-list li:hover {
        color: #fff;
        background-color: #1a587f;
    }

    .currency-list li:hover > .currency {
        color: #fff;
    }

    .currency-active:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background-color: #fff;
        position: absolute;
        top: -5px;
        left: 118px;
    }

    .login-container {
        top: 58px;
        position: absolute;
        right: 0;
        width: 240px;
    }

    .login-container input {
        width: 200px;
        margin: 14px auto 0;
        display: block;
        border: 1px solid #ddd;
        font-size: 13px;
        line-height: 13px;
        padding: 11px 10px;
    }

    .btn-sign-in {
        width: 200px;
    }

    .like-count {
        display: block;
        padding-left: 20px;
        margin-bottom: 3px;
    }

    .phone-number-list:nth-child(2) {
        display: flex;
    }
}

@media (min-width: 1024px) {

    .main-nav-logo-wrapper {
        flex: 2 1 0;
    }

    .drop-panel-container {
        flex: 3 1 0;
    }

    .like-count {
        padding-left: 40px;

    }

    .likes {
        display: inline;
        font-size: 14px;

    }

    .phone-button {
        display: flex;
        align-items: center;
        border-right: 1px solid #8dacc0;
        border-radius: 0;
        padding: 2px 30px;
    }

    .phone-number-wrapper {
        display: inline-block;
    }

    .phone-number-wrapper .phone-number {
        font-size: 15px;
        color: #fff;
        padding: 0 4px;
    }

    .communication-language {
        font-size: 11px;
    }

    .phone-active {
        left: -100px;
    }

    .phone-active .phone-number,
    .phone-active .phone-comments {
        display: none;
    }

    .main-nav {
        width: 960px;
        margin: 0 auto;
        padding: 0;
    }
}