.mobile-app-container {
    margin-top: 40px;
    background-image: url('../../img/mobile-app-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-app {
    padding: 0 15px;
}

.mobile-app h1 {
    font-size: 32px;
    padding-top: 40px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.intro-paragraph {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.store {
    margin: 25px auto 20px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    width: 234px;
}

.store img {
    border-radius: 5px;
}

p.app-rating {
    text-align: center;
    color: #fff292;
    font-size: 15px;
    margin-top: 20px;
}

.rental-news-block {
    background-color: #444;
    padding: 27px 0;
}

.rental-news-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.rental-news-logos img {
    margin-right: 25px;
}


@media (min-width: 640px) {

    .mobile-app {
        
    }

    .mobile-app h1 {
        font-size: 50px;
        font-weight: normal;
    }

    .intro-paragraph {
        text-align: left;
        padding-left: 10px;
    }

    .store {
        text-align: left;
        margin-left: 10px;
    }

    .phone {
        background-image: url('../../img/phone.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 394px;
        height: 526px;
        bottom: 20px;
        right: -140px;
    }

    .mobile-app-container {
        position: relative;
        overflow: hidden;
    }

    .rental-news-logos {
        justify-content: flex-start;
    }
}