
.mobile-app {
    padding: 1px 20px;
    margin-top: 40px;
/*    background-image: url('../../img/mobile-app-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;*/
}

.mobile-app-content-wrapper {
    background-image: url('../../img/mobile-app-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-app h1 {
    font-size: 32px;
    padding-top: 40px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.intro-paragraph {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.store {
    margin: 25px auto;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    width: 234px;
}

.store img {
    border-radius: 5px;
}

p.app-rating {
    text-align: center;
    color: #fff292;
    font-size: 15px;
    margin-top: 10px;
}

.rental-news-block {
    background-color: #444;
    padding: 27px 0;
}

.rental-news-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}

.rental-news-logos img {
    margin-right: 25px;
}

.rental-logo-lg {
    display: none;
}


@media (min-width: 640px) {

    .mobile-app > p {
        width: 380px;
    }

    .mobile-app h1 {
        font-size: 50px;
        font-weight: normal;
        text-align: left;
    }

    .intro-paragraph {
        text-align: left;
    }

    .store {
        text-align: left;
        margin-left: 0;
    }

    .phone {
        background-image: url('../../img/phone.png');
        background-repeat: no-repeat;
        position: absolute;
        width: 394px;
        height: 526px;
        bottom: 20px;
        left: 60%;
    }

    .mobile-app-container {
        position: relative;
        overflow: hidden;
    }

    .rental-news-logos {
        justify-content: flex-start;
        padding-left: 10px;
    }
}

@media (min-width: 1024px) {
    
    .mobile-app-and-phone-wrapper {
        width: 960px;
        margin: 0 auto;
        position: relative;
        padding-top: 10px;
    }

    .mobile-app {
        padding: 1px 0;
    }

    .mobile-app h1 {
        font-size: 60px;
        font-weight: 300;
    }

    .mobile-app > p {
        width: 540px;
    }

    .intro-paragraph {
        line-height: 1.45;
    }

    .phone {
        top: 38px;
    }

    .store-container:after {
    content:"";
    display:block;
    clear:both;
    }

    .store{
        float: left;
    }

    .store:last-child {
        padding-left: 20px;
    }

    .rental-news-block {
        padding: 33px 0;
    }

    .rental-news-logos {
        width: 920px;
        margin: 0 auto;
        padding: 0;
    }

    .rental-news-logos img {
        margin-right: 68px;
    }

    .rental-logo-sm {
        display: none;
    }

    .rental-logo-lg {
        display: block;
        margin-left: -41px;
    }

}
