.other-cities-container {
    background-color: #f6f6f6;
    margin-top: 60px;
}

.other-cities {
    padding-bottom: 10px;
    max-width: 960px;
    margin: 0 auto;
}

.other-cities h2 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 4px solid #ddd;
    padding-top: 30px;
    font-weight: 600;
}

.cities-list {
    font-size: 13px;
    color: #444;
    display: none;
}

.cities-list li {
    padding: 15px 0;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.cities-list li a,
.cities-list li a:visited {
    color: #444;
}

.all-cities-link,
.all-cities-link:visited {
    color: #777;
    display: block;
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
}

.fa-chevron-right {
    font-size: 8px;
}

.cities-list:first-child {
    display: block;
}


@media (min-width: 640px) {

    .cities-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cities-list {
        width: 300px;
    }

    .cities-list:nth-child(2) {
        display: block;
    }

    .cities-list li {
        text-align: left;
        padding-left: 10px;
    }

    .cities-list li:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .all-cities-link {
        border-top: 1px solid #ddd;
        padding-top: 20px;
        text-align: left;
        padding-left: 20px;
    }

}

@media (min-width: 1024px) {

    .cities-list {
        display: block;
        flex: 1 1 0;
        margin-right: 20px;
    }

    .cities-list:last-child {
        margin-right: 0;
    }

    .cities-list li {
        padding-left: 20px;
    }
}