.partners-container {
    background-color: #d8e9f2;
    padding: 0 20px;
}

.partners-container h2 {
    text-align: center;
    color: #1a5880;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 35px;
}

.partners-list {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 190px;
}

.partners-list li {
    margin-left: 19px;
}

.partners-list li:first-child {
    margin-left: 0px;
}

.partners-list img {
    margin-top: 17px;
    margin-bottom: 30px;
}