
.top-locations {
    display: none;
    width: calc(100% + 4px);
    position: absolute;
    background-color: #eee;
    top: calc(100% + 17px);
    left: -2px;
    z-index: 20;
    font-size: 13px;
    color: #000;
    padding-bottom: 10px;
    box-shadow: 0px 0px 4px #444;
}

.top-locations li {
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-bottom: none;
    cursor: pointer;
}

.top-locations li:hover {
    background-color: #b2dcff;
    color: #0073b5;
}

.top-locations li:last-child {
    background-color: #fff;
}

.location-1024 {
    display: none;
}


@media (min-width: 640px) {
    .top-locations {
        display: flex;
        display: none;
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .top-locations li {
        padding: 16px 25px;
        flex: 1 1 auto;
    }

    .top-locations .show-all-locations {
        flex: 1 1 100%;
    }
}

@media (min-width: 1024px) {

    .location-1024 {
        display: block;
    }

    .top-locations li {
        padding: 15px 20px;
    }
}