.spotlight-container {
    height: 486px;
    background: url("../../img/milano.jpg"), center, no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.spotlight-content {
    margin: 0 auto;
    width: 320px;
    padding-top: 66px;
}

.spotlight-heading {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
}

.heading-rating {
    display: none;
}

.spotlight-paragraph {
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

.spotlight-search-box-container {
    width: 320px;
    height: 180px;
    background-color: #ffcd4a;
    margin-top: 25px;
    position: relative;
}

.spotlight-search-box {
    width: 280px;
    height: 140px;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.spotlight-search-box input {
    outline: none;
    border: none;
    height: 46px;
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
    color: #000;
    line-height: 32px;
    width: 100%;
    position: relative;
}

.logo {
    width: 106px;
    height: 44px;
    background-color: #d4002a;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    font-size: 28px;
    position: relative;
}

.logo-flag {
    position: absolute;
    background-image: url('../../img/flag-italy.jpg');
    width: 32px;
    height: 20px;
    right: -7px;
    bottom: -5px;
    z-index: 1;
}

.copyright {
    font-size: 4px;
    position: absolute;
    top: 14px;
}

.btn-start-date, .btn-end-date {
    background-color: #ddd;
    color: #000;
    height: 44px;
    margin-left: 2px;
    flex-grow: 1;
    position: relative;
}

.btn-start-date:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 0 23px 12px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: -1px;
    right: -13px;
    z-index: 10;
}

.btn-start-date:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 0px 23px 12px;
    border-color: transparent transparent transparent #ddd;
    position: absolute;
    top: -1px;
    right: -11px;
    z-index: 11;
}


.btn-show-prices {
    width: 100%;
    background-color: #0073b5;
    color: #fff;
    height: 44px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2px;
}

.spotlight-benefits-container {
    display: none;
    width: 640px;
    margin-top: 20px;
}

/* Media Queries */

@media (min-width: 640px) {
    .spotlight-content {
        width: 640px;
    }

    .spotlight-search-box-container {
        width: 640px;
        border-radius: 5px;
    }

    .spotlight-search-box {
        width: 600px;
        height: 94px;
    }

    .btn-show-prices {
        margin: 0;
        width: auto;
        flex-grow: 1;
        border-radius: 2px;
        margin-left: 2px;
    }

    .spotlight-heading {
        font-size: 32px;
    }

    .heading-rating {
        display: inline-block;
    }

    .heading-rating > svg {
        width: 50px;
    }

    .spotlight-paragraph {
        font-size: 16px;
    }

    .spotlight-benefits-container {
        height: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .benefits-list {
        flex-grow: 1;
        font-size: 14px;
        color: #fff;
    }

    .benefits-list li {
        padding: 10px;
    }

    .benefits-list li .fa-check {
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-end-date:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23px 0 23px 12px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: -1px;
        right: -14px;
        z-index: 10;
    }

    .btn-end-date:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23px 0px 23px 12px;
        border-color: transparent transparent transparent #ddd;
        position: absolute;
        top: -1px;
        right: -12px;
        z-index: 11;
    }
}