.calendar-container {
	position: absolute;
	border: 2px solid #fff;
	width: calc(100% + 4px);
	top: calc(100% + 17px);
	left: -2px;
	background-color: #fff;
	z-index: 10;
	padding-bottom: 20px;
	display: none;
	box-shadow: 0px 0px 4px #444;
}

.calendar-container:after {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: calc(50% + 4px);
    top: 0;
    border: 7.5px solid black;
    border-color: transparent transparent #eee #eee;
    transform-origin: 0 0;
    transform: rotate(135deg);
}

.calendar-container:before {
	width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% + 8px);
    border: 10.5px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.month {
	background-color: #eee;
	padding: 14px 10px;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow-left {
    width: 14px;
    height: 14px;
    border-top: 2px solid #7f7f7f;
    border-left: 2px solid #7f7f7f;
    transform: rotate(-54deg) skew(-20deg);
}

.arrow-right {
    width: 14px;
    height: 14px;
    border-top: 2px solid #7f7f7f;
    border-right: 2px solid #7f7f7f;
    transform: rotate(54deg) skew(20deg);
}

.weekdays {
	margin-top: 18px;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	font-size: 13px;
}

.days {
	margin-top: 20px;
	font-size: 13px;
}

.week {
	display: flex;
	color: #777;
	margin: 1px 0;
}

.december .week:first-child {
	margin-left: 71.4%;
}

.week span {
	flex: 1 1 0;
	padding: 5px 0;
	text-align: center;
}

.free-date {
	color: #000;
}

.start-date {
	background-color: #008aff;
	color: #FFF;
	position: relative;
}

.start-date:after {
    width: 0;
	height: 0;
	border-style: solid;
	border-width: 14.5px 0 14.5px 10px;
	border-color: transparent transparent transparent #008aff;
	position: absolute;
    right: -10px;
    top: 0px;
    content: '';
}

.between-date {
	background-color: #b2dcff;
}

.january {
	display: none;
}

.end-date {
	background-color: #008aff;
	color: #FFF;
	position: relative;
}

.end-date:after {
    position: absolute;
    left: 0px;
    top: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14.5px 0 14.5px 10px;
    border-color: transparent transparent transparent #b2dcff;
}

.february {
	display: none;
}

@media (min-width: 640px) {

	.calendar-container {
		display: flex;
		display: none;
		flex-wrap: wrap;
	}

	.december {
		flex: 1 1 0;
	}

	.january {
		display: block;
		flex: 1 1 0;
	}

	.january .calendar-border {
		border: none;
	}

	.december .month .arrow-right,
	.january .month .arrow-left {
		visibility: hidden;
	}

	.calendar-border {
		border-right: 1px solid #eee;
		padding: 0 5px;
	}

	.january .week:last-child {
		margin-right: 71.4%;
	}
}

@media (min-width: 1024px) {

	.calendar-container {
		top: 60px;
	}

	.january .calendar-border {
		border-right: 1px solid #eee;
	}

	.february {
		display: block;
		flex: 1 1 0;
	}

	.january .arrow-right,
	.february .arrow-left {
		visibility: hidden;
	}

	.february .week:first-child {
		margin-left: 28.5%;
	}

	.february .week:last-child {
		margin-right: 42.8%;
	}
}