.autocomplete-container {
	display: none;
}

@media (min-width: 1024px) {
	.autocomplete-container {
		/*display: block;*/
		width: 100%;
		position: absolute;
		top: 55px;
		z-index: 10;
	}

	.autocomplete-container p {
		padding: 10px 20px 0; 
	}

	.cities-and-locations,
	.autocomplete-all-locations {
		background-color: #fff;
	}

	.cities-and-locations ul {
		padding: 10px 0;
		border: 2px solid #fff;
	}

	.cities-and-locations li {
		padding: 10px 40px;
		font-size: 15px;
	}

	.cities-and-locations li:hover {
		background-color: #b2dcff;
	}

	.cities-and-locations .uk {
		background-position: 20px center;
	}

	.cities-and-locations li:first-child {
		display: flex;
		justify-content: space-between;
		background-color: #f6f6f6;
	}

	.cities-and-locations li:first-child a {
		color: #777;
		font-size: 13px;
	}

	.cities-and-locations .country {
		color: #777;
		font-size: 12px;
	}

	.autocomplete-container strong {
		color: #000;
		font-weight: bold;
	}

	.cities-and-locations li:nth-child(2) {
		font-size: 13px;
		color: #444;
		border-bottom: 1px solid #ddd;
	}

	.autocomplete-all-locations {
		margin-top: 20px;
		position: relative;
	}

	.autocomplete-all-locations ul {
		border: 2px solid #fff;
	}

	.autocomplete-all-locations ul li:first-child {
		padding: 15px 40px 10px;
		font-size: 15px;
		color: #aaa;
		display: flex;
		justify-content: space-between;
	}

	.autocomplete-all-locations ul li:nth-child(2) {
		padding: 10px 40px;
	}

	.autocomplete-all-locations ul li {
		padding: 10px 60px;
		color: #444;
		font-size: 13px;
	}

	.autocomplete-all-locations li a {
		color: #777;
		font-size: 13px;
	}

	.autocomplete-all-locations li:not(:first-child):hover {
		background-color: #b2dcff;;
	}

	.cities-and-locations:before,
	.autocomplete-all-locations:before {
		width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 0 13.5px 10px 13.5px;
	    border-color: transparent transparent #ffffff transparent;
	    content: "";
	    position: absolute;
	    top: -10px;
	    left: 127px;
	}


}