.top-cities {
    width: 280px;
    position: absolute;
    background-color: #eee;
    top: 55px;
    left: -2px;
    z-index: 20;
    font-size: 13px;
    color: #000;
    display: flex;
    display: none;
    flex-wrap: wrap;
}

.top-cities:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13.5px 10px 13.5px;
    border-color: transparent transparent #ffffff transparent;
    content: "";
    position: absolute;
    top: -10px;
    left: 127px;
}

.top-cities li {
    padding: 20px 22px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    border-bottom: none;
    margin: 0;
    flex:1 1 25%;
}

.show-all-cities {
    background-color: #fff;
    width: 100%;
    color: #0073b5;;
}


@media (min-width: 640px) {
    .top-cities {
        width: 600px;
    }

    .top-cities li {
        padding: 20px 10px;
        flex: 1 1 auto;
    }

    .show-all-cities {
        flex-basis: 100%;
        text-transform: uppercase;
    }
}