.spotlight-container {
    background: url("../../img/milano.jpg"), center, no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.spotlight-content {
    margin: 0 auto;
    padding-top: 66px;
    max-width: 960px;
}

.spotlight-heading {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0 15px;
}

.spotlight-heading svg text {
    fill: #fff;
}

.heading-rating {
    display: none;
}

.spotlight-paragraph {
    font-size: 13px;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    margin: 15px 15px 0;
}

.spotlight-search-box-container {
    padding: 20px 20px;
    background-color: #ffcd4a;
    margin-top: 25px;
    position: relative;
}

.spotlight-search-box {
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #fff;
    margin: auto auto;
}

.spotlight-search-form {
    outline: none;
    border: none;
    margin: 0;
    font-size: 20px;
    color: #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
}

.spotlight-search-input-container {
    flex-basis: 100%;
    position: relative;
}

.spotlight-search-form__input {
    padding: 5px 15px;
    width: 100%;
    line-height: 32px;
}

.logo {
    width: 106px;
    height: 44px;
    background-color: #d4002a;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    font-size: 28px;
    position: relative;
}

.logo-flag {
    position: absolute;
    background-image: url('../../img/flag-italy.jpg');
    width: 32px;
    height: 20px;
    right: -7px;
    bottom: -5px;
    z-index: 1;
}

.copyright {
    font-size: 4px;
    position: absolute;
    top: 14px;
}

.btn-start-date, .btn-end-date {
    background-color: #ddd;
    color: #000;
    height: 44px;
    margin-left: 2px;
    flex-grow: 1;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.btn-start-date:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 0 23px 12px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: -1px;
    right: -13px;
    z-index: 8;
}

.btn-start-date:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 23px 0px 23px 12px;
    border-color: transparent transparent transparent #ddd;
    position: absolute;
    top: -1px;
    right: -11px;
    z-index: 9;
}


.btn-show-prices {
    width: 100%;
    background-color: #0073b5;
    color: #fff;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 2px;
}

.spotlight-benefits-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 20px;
}

.benefits-list {
        font-size: 14px;
        color: #fff;
}

.benefits-list li {
        padding: 10px 10px 10px 18px;
}

.benefits-list li .fa-check {
        margin-right: 10px;
        margin-left: -24px;
}

.benefits-list:not(:nth-child(-n+2)) {
    display: none;
}

.dropdown-arrow:before {
    width: 0;
    height: 0;
    border: 7.5px solid black;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    content: "";
    position: absolute;
    top: 0px;
    z-index: 30;
    left: calc(50% + 9px);
    box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

/* Media Queries */

@media (min-width: 640px) {

    .spotlight-search-box-container {
        border-radius: 5px;
        margin: 0 20px;
    }

    .btn-show-prices {
        margin: 0;
        width: auto;
        flex-grow: 1;
        border-radius: 2px;
        margin-left: 2px;
    }

    .spotlight-heading {
        font-size: 32px;
    }

    .heading-rating {
        display: inline-block;
    }

    .heading-rating > svg {
        width: 50px;
    }

    .spotlight-paragraph {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    .benefits-list:nth-child(-n+3) {
        display: block;
    }

    .benefits-list:last-child {
        display: none;
    }

    .btn-end-date:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23px 0 23px 12px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: -1px;
        right: -14px;
        z-index: 8;
    }

    .btn-end-date:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23px 0px 23px 12px;
        border-color: transparent transparent transparent #ddd;
        position: absolute;
        top: -1px;
        right: -12px;
        z-index: 9;
    }
}

@media (min-width: 1024px) {


    .spotlight-search-input-container {
        width: 100%;
        flex: 14;
        position: static;
    }

    .logo {
        order: -1;
    }

    .btn-start-date, .btn-end-date {
        flex: 2 1 0;
    }

    .benefits-list:nth-child(-n+4) {
        display: block;
    }

    .spotlight-heading {
        font-size: 48px;
    }

    .spotlight-paragraph {
        font-size: 22px;
        line-height: 1.4;
        margin-top: 20px;
    }

    .spotlight-content {
        padding-top: 110px;
    }

    .spotlight-search-box-container {
        margin: 0;
    }
}