.locations {
    display: none;
    width: 280px;
    position: absolute;
    background-color: #fff;
    top: calc(100% + 17px);
    left: -2px;
    z-index: 20;
    font-size: 13px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 4px #444;
}

.locations li {
    padding: 10px 16px;
    font-size: 13px;
    cursor: pointer;
}

.locations li:hover {
    background-color: #b2dcff;
}


@media (min-width: 640px) {
    .locations {
        width: 210px;
        left: 106px;
    }
}

@media (min-width: 1024px) {

    .locations {
        left: 180px;
    }
}